body{
  background-color: black;
  color: white;
}

#game{
  text-align: center;
}

.piece{
  fill: white;
}

.player1{
  fill: red;
}

.player2{
  fill: blue;
}

.winner1{
  fill: white;
}

.winner2{
  fill: white;

}

.background-winner1{
  fill: red;
  fill-opacity: 0.7;
}

.background-winner2{
  fill: blue;
  fill-opacity: .5;
}
